header {
    background-color: navy;
    padding: 10px;
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

header img {
    width: 200px;
    height: 60px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    background-color: #2adede;
    color: blueviolet;
    font-size: 30px;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid navy;
    border-radius: 15px;
}

p img {
    height: 150px;
    width: 200px;
}

footer {
    background-color: #8fddf2;
    padding: 10px;
}

footer p {
    <Img src="https://o.remove.bg/downloads/52dd2a8e-d4aa-49fb-bfbc-52dcea3d976f/kisspng-telegram-portable-network-graphics-computer-icons-contact-global-trading-sk-inc-a-state-of-art-mul-5b69f49368a0b9.1633536015336705474286-removebg-preview.png" width="20" height="20"</> <a href="https://t.me/agishev_vlados" style="color:black;text-align:center" style="color:red">Telegram</a>
}
