header {
    background-color:#8fddf2;
    height: 300px;
   
}

header a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

header img {
    width: 200px;
    height: 200px;
}

h1 {
    text-align: center;
    font-size: 50px;
}

h2 }
    color: yellow;
    font-size: 30px;
    text-align: center;
}

main p {
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: 1px solid navy;
    border-radius: 15px;
}

p img {
    height: 150px;
    width: 200px;
}

footer {
    background-color: #8fddf2;
    padding: 10px;
}

footer p {
    background-color: white;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}
footer a {
    color: black;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
